<h4>You Win!</h4>
<p>
  Of <b>{{ scoresModel.numberOfQuestions }} </b>questions,
  you got <font color="green">{{ scoresModel.numberCorrect }} correct</font>
  and you got <font color="red">{{ scoresModel.numberWrong }} wrong.</font>
</p>

<ul class="list-unstyled">
  <li *ngFor="let score of scoresModel.scores">
    <div class="alert"
         [ngClass]="{'alert-success': !score.incorrect, 'alert-danger': score.incorrect}">
      <p>Question {{ score.num }} was
        {{ score.question }}. The right answer was
        {{ score.answer }}.
        <span *ngIf="!score.incorrect">Wow! You got that right!</span>
        <span *ngIf="score.incorrect">
          You got it wrong. You said {{ score.providedAnswer}}.
          <em>Duh!</em>
        </span>
      </p>
    </div>
  </li>
</ul>

<button class="btn btn-success"
        (click)="playAgain()">PLAY AGAIN?</button>
