<h4>Congratultions, You Won!</h4>
<p>
  <b>{{ scoresModel.numberOfQuestions }} </b>total questions.<br>
  You got <font color="green">{{ scoresModel.numberCorrect }} correct.</font><br>
  You got <font color="red">{{ scoresModel.numberWrong }} wrong.</font><br>
</p>
<button class="btn btn-success"
        (click)="playAgain()">PLAY AGAIN?</button>
<br><br>

<ul class="list-unstyled">
  <li *ngFor="let score of scoresModel.scores">
    <div class="alert"
         [ngClass]="{'alert-success': !score.incorrect, 'alert-danger': score.incorrect}">
      <span *ngIf="!score.incorrect">
        <h4>Correct!</h4>
      </span>
      <span *ngIf="score.incorrect">
        <h4>Opps, Inorrect Answer!</h4>
      </span>
      <p>Question {{ score.num }} was
        <b>{{ score.question }} = {{ score.answer }}.</b>
        <span *ngIf="score.incorrect">
          <br>Your answer: <b>{{ score.providedAnswer}}.</b>
        </span>
      </p>
    </div>
  </li>
</ul>



<br><br>
